body{
    border: none;
    background-color: #1F2937;
    padding-top: 115px;
    padding-bottom: 115px;
    padding-left: 52px;
    padding-right: 52px;
}

.tagline{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color:#FFFFFF;
    margin-bottom: 10px;
}

#greenFont{
    color: #4ADF86;
}

.subtxt{
    color: #FFFFFF;
}

.btn{
    background-color: #4ADF86;
    border: none;
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
    margin-top: 51px;
    margin-bottom: 35px;
}

/* hr{
    width: 446px;
    color: #b11919;
} */

.passwrds{
    display: flex;
    justify-content: space-around;
}

.pswrd{
    width: 211px;
    height: 39px;
    border: none;
    border-radius: 6px;
    background-color: #273549;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #55F991;
    margin-top: 35px;
    text-align: center;
}