

.banner{
    background-color: #6943FF;
}

.dark-mode{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.toggle{
    margin: 20px;
    --width : 40px;
    --height : calc( var(--width) / 2);
    --border-radius : calc( var(--height) / 2);
    display: inline-block;
}

.toggle-input{
    display: none;
}

.toggle-fill{
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background-color: #dddddd;
    transition: background 0.2s;
}

.toggle-input:checked ~ .toggle-fill{
    background-color: #273549;
}

.toggle-fill::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--height);
    height: var(--height);
    border-radius: var(--border-radius);
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s;
}

.toggle-input:checked ~ .toggle-fill::after{
   transform: translateX(var(--height));
}




.main-part{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    border: none;
    padding: 32px;
    background-color: #6943FF;
    color: #FFFFFF;
}

#num-in{
    width: 117px;
    height: 83px;
    margin: 30px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
    color: #FFFFFF;
    text-align: center;
    font-size: 64px;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
}

#convert{
    width: 117px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #3D3D3D;
    text-align: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.metrics{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 36px 24px;
    background-color: #1F2937;
}

.len, .vol, .mass {
    width: 500px;
    height: 108px;
    margin: 24px;
    border: none;
    border-radius: 4px;
    background-color: #273549;
}

h2{
    margin: 0px;
    font-size: 28px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;

}

h3{
    font-size: 20px;
    font-weight: 600;
    color: #CCC1FF;
    font-family: 'Inter', sans-serif;
}

p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}


